/* デフォルト */
h2.item {
    padding: 0.8em 0 0.8em 0;
    color: rgb(240, 240, 240);
    font-weight: bold;
    background-color: rgb(112, 112, 112);
    text-align: center;
}

/* header */
.header {
    width: 100%;
    height: 50px;
}

.header .site-title {
    width: 75%;
    font-size: 40px;
}

.header .sns-link {
    width: 25%;
}

.header .sns-link div {
    padding-right: 2em;
}

/* main */
main {
    width: 750px;
    margin: auto;
}

.contents {
    margin: 1em;
    background-color: rgb(255, 168, 168);
    /* background-color: rgb(240, 240, 240); */
}

.contents .content {
    margin: 2.5rem 0 2.5rem 0;
    padding: 0.5rem;
    background-color: rgb(240, 240, 240);
}

.contents .content p {
    padding: 2em;
}

.contents .abstract {
    display: flex;
}

.contents .abstract .content {
    width: 50%;
    margin: 1em;
    border: 1px rgb(24, 24, 24) solid;
    border-radius: 10px;
}

.contents .content .input-area .input-content {
    padding: 1rem 0 1rem 0;
}

/* footer */
.footer {
    width: 100%;
}

/* home */
.home-area {
    width: 100%;
}

.home-area .top-image {
    height: 100px;
}

.home-area h2 {
    text-align: left;
    padding: 1rem;
}

.home-area .contents .content .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-area .contents .content .icon img {
    border: 1px rgb(24, 24, 24) solid;
    border-radius: 135px;
}

/* .home-area .contents .content .abstract {} */

/* profile */
.profile-area .contents .abstract {
    margin: 1em 0 1rem 0;
    text-align: center;
}

.profile-area .contents .icon {
    width: 200px;
    height: 200px;
    padding: 1em;
}

.profile-area .contents .icon img {
    border: 2px rgb(24, 24, 24) solid;
    border-radius: 135px;
}

/* create-area */
.create-area .contents .content .input-area .input-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1200px) {

    /* header */
    .header .sns-link div {
        padding-right: 2.5em;
    }

    /* main */
    main {
        width: 1200px;
        margin: auto;
    }
}

@media screen and (min-width:330px) and (max-width: 620px) {

    /* header */
    .header .site-title {
        font-size: 20px;
    }

    /* main */
    main {
        width: 400px;
        margin: auto;
    }
}

@media screen and (max-width: 330px) {
    .header .site-title {
        font-size: 10px;
        width: 50%;
    }

    .header .sns-link {
        width: 50%;
    }

    /* SNSへのリンクはナビゲーションバーに */
}
